.MainPannel
{
width: 70%;
background-color: aliceblue;
padding: 60px;
margin: auto;



}
.titletext
{
    font-size: 50px;
}
.contenttext
{
    font-size: 36px;
}
body
{
    background-color: rgb(27, 23, 90);
  padding: 0;
  margin: 0;
  
}


.profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 1;
   
    
    
    
}
p
{
    font-size: 30px;
}

.navbar {
    list-style: none;
    background: linear-gradient(to top, #191970, #87CEEB); /* Gradient background */
    text-align: center;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 0.3s;
}

.navbar li a:hover {
    
    color: #00642d;
}
